.fixedBottom{
   width:100%;
  position:fixed;bottom: 0;left:0;
  height:1rem;
  /* line-height: 1rem; */
  background-color: white;
  border-top:1px solid #EFEFEF;
   -webkit-box-shadow:0 0 4px rgba(215, 215, 215, 0.7);
  -moz-box-shadow:0 0 4px rgba(215, 215, 215, 0.7); 
  box-shadow:0 0 4px rgba(215, 215, 215, 0.7);
}
.fixedBottom p{display:inline-block;width:50%;text-align: center;}
.fixedBottom a{padding-top:0.54rem;position:relative;display:block;width:100%;height:100%;color:#444444;}
.fixedBottom  p a:before{
  position:absolute;top:0.16rem;
  left:50%;margin-left: -0.2rem;
  content:"";
  display:inline-block;
  height:0.36rem;
  width:0.4rem;
   background: url('../images/icon-bottom.png') no-repeat;
   background-size:1.02rem 0.92rem;
}

.fixedBottom  a.homeLink:before{
     background-position: 0% 0%;
}
.fixedBottom p.currActive a.homeLink:before{
     background-position: 100% 0%;
}
.fixedBottom  a.personLink:before{
     background-position: 0% 100%;
}
.fixedBottom  p.currActive a.personLink:before{
     background-position: 100% 100%;
}
.commonSpace{padding:0 0.3rem;}
.backHeaderWrap a.rEditLink{
      margin: 8px 0 0 0;
    height: 28px;
    line-height: 28px;
    padding: 0 0.16rem;
    right: 0.3rem;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
}
.headerWrap a,.backHeaderWrap a.back{padding-left:0.3rem;display: inline-block;
    width: 50px;
    height: 0.6rem;}
 .headerWrap img,.backHeaderWrap img{float:left;margin-top:0.22rem;display:inline-block;width:0.22rem;height:0.38rem;}

  .backHeaderWrap{position:relative;height:44px;line-height:44px;background-color:#373B3E;
      color:white;text-align: center;font-size: 18px;
   }
  .backHeaderWrap a{position:absolute;top:0;}
.backHeaderWrap a.back{left:0;height:100%;}
  .centerWrap{margin-bottom: 1rem;font-size: 14px;}
.noLoginCenter .headerWrap{text-align: left;}

.noLoginCenter{font-size: 14px;}
.noLoginCenter .bannerWrap{
  width:6.4rem;height:3.16rem;
  background:url('../images/img-banner-nologin.jpg') center center no-repeat;
  background-size: contain;
  color:white;text-align: center;
}
.noLoginCenter .bannerWrap h2{
  font-weight: normal;font-size: 18px;
}
/* .noLoginCenter .bannerWrap p.welcomeLine{color:#A3A3A6;} */
.noLoginCenter .bannerWrap .loginBtn{
  margin:0.42rem 0 0.24rem 0;
  border-radius: 4px;padding:0.14rem 1rem;border:1px solid #3882FD;
    background: #3882FD;color:white;
}
.noLoginCenter .bannerWrap a.register{display:inline-block;color:white;
  margin-left:0.46rem; text-decoration: underline;
}
/* noLoginCenter bannerWrap end */

.loginCenter .bannerWrap {position:relative;
    height: 1.84rem;
    width: 6.4rem;
    background: url('../images/img-banner-login.jpg') center center no-repeat;
    background-size: contain;
    color: white;
}
.loginCenter h2{margin-top: -0.6rem;text-align: center;padding-top: 0.2rem;font-size:18px;font-weight: normal; }
 .loginCenter .personIcon{position:absolute;left:0.3rem;bottom:-0.42rem;
  border:2px solid white;border-radius: 0.1rem;
      -webkit-box-shadow: 0 0 6px #595959;
    -moz-box-shadow: 0 0 6px #595959;
    box-shadow: 0 0 6px #595959;
}
.loginCenter .personIcon img{width:1.32rem;height:1.32rem;border-radius:0.1rem;} 

.loginCenter .infoWrap{position:absolute;left: 1.92rem;bottom:0.14rem;width:4.4rem;}
.loginCenter .infoWrap .leftInfo{float:left;width:70%;}
.loginCenter .infoWrap .rOperate{margin-top: 0.2rem;float:right;width:30%;text-align: right;}
.loginCenter .rOperate .codeIcon{
  margin-right: 0.18rem;
  display:inline-block;
   height: 0.34rem;
    width: 0.34rem;
    background: url('../images/icon-codeNext.png') center center no-repeat;
    background-size: contain; vertical-align: middle;
}
.loginCenter  .rOperate a:after{
  content:"";
  margin-right: 0.3rem;
  display:inline-block;
   height: 0.26rem;
     width: 0.16rem;
    background: url('../images/icon-next-white.png') no-repeat;
    background-size: contain;
    vertical-align: middle;
}
 .loginCenter .leftInfo p.phone{padding-top:0.04rem;} 
.loginCenter .leftInfo p.phone:before{
  content:"";
  margin-right: 0.12rem;
  display:inline-block;
    height: 0.2rem;
     width: 0.14rem;
     background: url('../images/icon-phone.png') center center no-repeat; 
    background-size: contain;
    vertical-align: middle;
}
.loginCenter .clearLine{background-color: white;height:0.6rem;}
.loginCenter .accountWrap{padding:0 0.3rem 0.3rem 0.3rem;height:1.15rem;background-color:#FFFFFF; 
     border-bottom: 1px solid #C1C1C1;
}
.loginCenter .accountWrap em{font-style: normal;color:#ff302e;}
.loginCenter .accountWrap .detailLink{
      margin: 0.12rem auto 0 auto;
    display: block;
    color: white;
    border: 1px solid #82D469;
    border-radius: 4px;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 2rem;
    text-align: center;
    background-color: #82D469;
}
.loginCenter .accountWrap .leftPrice{float:left;width:60%;}
.loginCenter .accountWrap .rLinks{float:right;width:39%;line-height:1.15rem;text-align: right;
  border-left:1px solid  #C1C1C1;
}
 .loginCenter .accountWrap .rLinks a{display:inline-block;color:#444444;}
.loginCenter .accountWrap .rLinks a:after{margin-left: 0.3rem;}
/* loginCenter end */

.centerWrap ul{margin-top: 0.22rem;
/*   background-color: #F6F6F6; */
  border-top:1px solid #C1C1C1;
   border-bottom:1px solid #C1C1C1;
}
.centerWrap li{
  padding:0 0.3rem;
  height:44px;line-height: 44px;
  border-bottom:1px solid #E6E6E6;
  background-color: white;
}
.centerWrap li:last-child{border-bottom: 0;}
.centerWrap li a{color:#444444;display:inline-block;width:100%;height:100%;}
.centerWrap li a:after, .loginCenter .accountWrap .rLinks a:after{
  float:right;
  content:"";
  display:inline-block;
  width:0.16rem;
  height:100%;
   background:url('../images/icon-next.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl li a:before{
  margin-right: 0.32rem;
  content:"";
  display:inline-block;width:0.36rem;height:100%;
    vertical-align: middle;
}

.centerWrap .navUl:nth-of-type(1) li:nth-child(1) a:before{
  background:url('../images/icon-left-01.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl:nth-of-type(1) li:nth-child(2) a:before{
  background:url('../images/icon-left-02.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl:nth-of-type(2) li:nth-child(1) a:before{
  background:url('../images/icon-left-03.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl:nth-of-type(2) li:nth-child(2) a:before{
  background:url('../images/icon-left-04.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl:nth-of-type(2) li:nth-child(3) a:before{
  background:url('../images/icon-left-05.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl:nth-of-type(3) li:nth-child(1) a:before{
  background:url('../images/icon-left-06.png') center center no-repeat;
    background-size: contain;
}
.centerWrap .navUl:nth-of-type(3) li:nth-child(2) a:before{
  background:url('../images/icon-left-07.png') center center no-repeat;
    background-size: contain;
}

.myCodeContainer{font-size:14px;}
.myCodeContainer .codeWrap{padding:0 0.3rem;}
.myCodeContainer .personInfo{margin:0.55rem 0 0.64rem 0;width:100%;}
.myCodeContainer .codeWrap .leftImg{position:relative;width:30%;float:left;}

.myCodeContainer .codeWrap .rInfo{width:70%;float:left;}
 .myCodeContainer .codeWrap .leftImg:before{
  content:"";
  position:absolute;top: -2px;
    left: -2px;
  display:inline-block;    width: 1.32rem;
    height: 1.32rem;
    border: 2px solid white;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0 0 6px #595959;
    -moz-box-shadow: 0 0 6px #595959;
    box-shadow: 0 0 6px #595959;
}
.myCodeContainer .codeWrap .leftImg img {
    width: 1.32rem;
    height: 1.32rem;
    border-radius: 0.1rem;
} 

.myCodeContainer .codeDetail{position:relative;padding:0 0.54rem 0.9rem 0.54rem;}
.myCodeContainer .codeDetail .myIncon{position:absolute;
  top:50%;
  left:50%;
   width: 1.14rem;
   height: 1.14rem;
  margin-left: -0.6rem;
  margin-top: -1.05rem;
  border:0.04rem solid white;
}
.myCodeContainer .codeDetail .myIncon,.myCodeContainer .codeDetail .myIncon img{
    border-radius: 0.1rem;
   /*  border:1px solid red; */
}
.myCodeContainer .codeDetail .myIncon img{
    margin:0.02rem;
  display:inline-block;
    width: 1.08rem;
    height: 1.08rem;}
.myCodeContainer .rInfo p.cellphone:before{
  content:"";
  margin-right: 0.12rem;
  display:inline-block;
    height: 0.2rem;
     width: 0.14rem;
     background: url('../images/icon-phone-gray.png') center center no-repeat; 
     background-size: contain;
    vertical-align: middle; 
}
.myCodeContainer .tip{text-align: center;}

.clearBttomFixBtn{margin-bottom:1.26rem; }
.centerItemWrap{font-size: 13px;}
.centerItemWrap ul{list-style: none;}
.centerItemWrap ul.selectUl{display: none;}
.centerItemWrap .backHeaderWrap{background-color: #3882FD;}
.centerItemWrap .detailListUl{margin-top: 0.22rem;border-top: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
  background-color: white;
}
.centerItemWrap .detailListUl li{
  position:relative;
    padding:0 0.3rem; 
  border-bottom: 1px solid #E6E6E6;
   font-size:16px;
}
.centerItemWrap .detailListUl li:last-child{border-bottom: 0;}
.centerItemWrap .detailListUl li a{display:inline-block;
  height:44px;line-height: 44px;
  font-size: 14px;color:#444444;
   width:100%; 
}
.centerItemWrap .detailListUl li a:after{
  float: right;
    content: "";
    display: inline-block;
    width: 0.16rem;
    height: 100%;
    background: url('../images/icon-next.png') center center no-repeat;
    background-size: contain;
   /*  vertical-align: middle; */
}
.centerItemWrap .fixedBttToolBar{position:fixed;bottom:0;left:0;
  width:100%;
  background-color: white;
  border-top:1px solid #C1C1C1;
  -webkit-box-shadow: 0 0 4px rgba(215, 215, 215, 0.7);
    -moz-box-shadow: 0 0 4px rgba(215, 215, 215, 0.7);
    box-shadow: 0 0 4px rgba(215, 215, 215, 0.7);
}
.centerItemWrap .fixedBttToolBar p{margin:0.14rem 0.3rem;}
.centerItemWrap .fixedBttToolBar input[type="button"],.centerItemWrap .fixedBttToolBar a.addBtn{
  display:inline-block;
   width:100%;
   height:0.72rem;line-height:0.72rem;background-color:#F6AC19; 
   border:0;
   border-radius: 4px;color:white;
   text-align: center;
}
.centerItemWrap .detailDl, .linkManToolBar{background-color: white;}
.centerItemWrap .detailDl{position:relative;width:100%; border-bottom: 1px solid #E6E6E6;}
.centerItemWrap .detailDl dt p{padding:12px 0 12px 0.3rem;}
.centerItemWrap .detailDl dd p{padding:12px 0.3rem 12px 5px;}
.centerItemWrap .detailDl dd span.selFlag{position:relative;display:inline-block;width:100%;padding-left: 5px;color:#444444;}
.centerItemWrap .detailDl dd span.selFlag:after{
      position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.13rem;
    content: "";
    display: inline-block;
    width: 0.16rem;
    height: 0.26rem;
    background: url('../images/icon-next.png') center center no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.centerItemWrap .detailDl dd p .holderFont{color:#b1b1b1;}
.centerItemWrap .detailDl dt,.centerItemWrap .detailDl dd{
  float:left;font-size: 15px;
}
.centerItemWrap .detailDl dd input[type='text'],.centerItemWrap .detailDl dd  select{
  font-size: 15px;color:#444444;border:0;
}
.centerItemWrap .detailDl dt p.empty{visibility:hidden;}
.centerItemWrap .detailDl dd input[type='text'].addrInput{padding-right: 0.4rem;} 
.centerItemWrap .detailDl dd input[type='text']{
    position: absolute;
    top: 1px;
    padding-left: 5px;
    width: 70%;
    height: 40px;
    line-height: 40px;  
}

div.modifyWrap .detailDl dd input[type='text'],.modifyWrap dd select,.modifyWrap dd,div.modifyWrap .detailDl dd span.selFlag{color:#b1b1b1;}
.modifyWrap dd .disabedVal,.centerItemWrap dd .radioLine{color:#444444;}
.centerItemWrap .radioLine span{margin-right: 0.3rem;}
.centerItemWrap .radioLine label{margin-left: 0.05rem;}
.centerItemWrap .radioLine input[type='radio']{height:16px;width:16px;vertical-align: middle;}
.centerItemWrap .detailDl:first-of-type{margin-top: 0.22rem;border-top: 1px solid #C1C1C1; }
.centerItemWrap .detailDl:last-of-type{border-bottom: 1px solid #C1C1C1; }
div.linkManDetail .detailDl:last-of-type{border-bottom: 0;}

.centerItemWrap .detailDl dt{width:30%;}
.centerItemWrap .detailDl dd{width:70%;}

.editToolBar {
     font-size: 13px;
    background-color: white;
    padding: 0.24rem 0.3rem;
    border-top: 1px solid #E6E6E6;
}
div.linkManDetail{border-bottom: 1px solid #C1C1C1;}
.editToolBar input{margin-right: 0.14rem;display:inline-block;height:14px;width:14px;border-radius: 2px;border:1px solid #444444;
  vertical-align: middle;
}
.editToolBar .linkWrap{display:inline-block;float:right;}
.editToolBar .linkWrap a.delBtn{color:#444444;}
.editToolBar .linkWrap a.modifyBtn{margin-right: 0.46rem;color:#3882FD;}
.editToolBar .linkWrap a:before{
  margin-right: 0.1rem;
  content:"";
  display:inline-block;width:0.28rem;height:0.26rem;
  vertical-align: middle;
}
.editToolBar .linkWrap a:nth-child(1):before{
  background: url('../images/icon-modify.png') center center no-repeat;
  background-size: contain;
}
.editToolBar .linkWrap a:nth-child(2):before{
  background: url('../images/icon-del.png') center center no-repeat;
  background-size: contain;
}
.centerItemWrap .noAnyWrap{display:none;}
.centerItemWrap .noAnyWrap h2{margin-top:45%;color:#b1b1b1;text-align: center;font-weight: normal;}


/* 常用地址 */
.usedAddrUl li{
  margin-top: 0.22rem;
  background-color: white;
  border-bottom: 1px solid #C1C1C1;
}
.usedAddrUl li .detailWrap,.usedAddrUl .editToolBar{padding:0 0.3rem;}
.usedAddrUl .detailWrap p{margin:0.26rem 0;}
.usedAddrUl .detailWrap .phone{float:right;}
.usedAddrUl li .detailWrap{border-top: 1px solid #C1C1C1;}
.usedAddrUl .editToolBar{padding:0.24rem 0.3rem;border-top: 1px solid #E6E6E6;}
/*删除弹框*/
.delDg{display:none;}
.delDg .fullBlackShadow{
  position:fixed;left:0;top:0; z-index:100;
background:#636363;
filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
opacity: 0.5;  
width: 100%;
height: 100%;
}
.delDg .mainWrap{
  font-size: 15px;
  width:4.3rem;/* height:1.4rem; */
  position:absolute;z-index: 101;
  left:50%;top:50%;
  margin-left: -2.15rem;
  margin-top: -0.7rem;
  background-color: white;
  text-align: center;
  border-radius: 6px;
}
.delDg .mainWrap .title{padding:0.16rem 0;border-bottom: 1px solid #C1C1C1;}
.delDg .toolBar span{padding:0.13rem 0;display:inline-block;width:50%;color:#3882FD;
 cursor:pointer;
}
.delDg .toolBar span:first-child{position:relative;}
.delDg .toolBar span:first-child:after{
  position:absolute;right:0;top:0;
  content:"";
  display:inline-block;width:1px;height:100%;
  border-right:1px solid #C1C1C1;
}

/* 财富中心 */
.treasureWrap{margin-top: 0.22rem;
  background-color: white;
  border-top: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;font-size: 13px;
}
.treasureWrap .totalAccount,.treasureWrap .moneyItemUl{padding:0 0.3rem;}
.treasureWrap .totalAccount a{display:block;color:#444444;}
.treasureWrap .totalAccount a:after{
    float: right;
    content: "";
    display: inline-block;
    width: 0.16rem;
    height: 100%;
    background: url('../images/icon-next.png') center center no-repeat;
    background-size: contain;
}
.treasureWrap em{font-style: normal;color:#ff302e;}
.treasureWrap .totalAccount{height:0.8rem;line-height: 0.8rem;border-bottom: 1px solid #E6E6E6;}
.treasureWrap .totalAccount em{font-size:21px;}
.treasureWrap .moneyItemUl li:first-child:after{position:absolute;
  right:0.22rem;top:0;display:block;
  content:"";height:100%;width:1px;
    border-right:1px solid #C1C1C1;
}
.treasureWrap .moneyItemUl li{position:relative;margin:0.22rem 0 0.36rem 0;float:left;width:50%;}
.treasureWrap .moneyItemUl li p{padding-bottom:0.18rem;}
.treasureWrap .moneyItemUl li a{display:inline-block;margin-top: 0.08rem;padding:0.16rem 0.22rem;color:white;background-color: #82D469;border-radius: 4px;}
.treasureContainer, .orderContainer{padding-bottom:1.38rem; }
.treasureContainer .fixed-bottomLink, .orderContainer .fixed-bottomLink{position:fixed;bottom:0;left:0;}
.treasureContainer .fixed-bottomLink a, .orderContainer .fixed-bottomLink a{display:block;}
.treasureContainer .fixed-bottomLink .closeBtn,.orderContainer .fixed-bottomLink .closeBtn{height:16%;width:3.44%;position:absolute;right:1.25%;top:5.8%;background: url('../images/close-link.png') center center no-repeat;background-size: contain;}

/*关于保库*/
.aboutBkContainer .instroDetail h2, .aboutBkContainer .instroDetail h4{font-weight: normal;}
.aboutBkContainer .instroDetail h2{margin-top: 0.5rem;border-bottom: 1px solid #C1C1C1;}
.aboutBkContainer .instroDetail h2,.aboutBkContainer .instroDetail h2 span{padding-bottom: 0.16rem;}
.aboutBkContainer .instroDetail h2 span{margin:0 0.3rem;border-bottom: 2px solid #3882FD;}
.aboutBkContainer .instroDetail h4{padding:0.3rem 0.3rem 0.28rem 0.3rem;color:#b1b1b1;}
.aboutBkContainer .instroDetail dl{width:100%;}
.aboutBkContainer .instroDetail dt,.aboutBkContainer .instroDetail dd{float:left;}
.aboutBkContainer .instroDetail dt{width:6%;}
.aboutBkContainer .instroDetail dd{width:94%;}
.aboutBkContainer .apart{margin-bottom:0.45rem; }

/* 我的订单 */
.orderContainer .orderPart{  
    margin-top: 0.22rem;  
  border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    background-color: white;
}
.orderContainer .orderPart .title{height:0.78rem;line-height: 0.78rem;border-bottom: 1px solid #E6E6E6; }
.orderContainer .orderPart .title,.orderContainer .orderPart ul{padding:0 0.3rem;}
.orderContainer .orderPart .title a{display:block;color:#444444;}
.orderContainer .orderPart .title a:before{
      margin-right: 0.32rem;
    content: "";
    display: inline-block;
    width: 0.36rem;
    height: 100%;
     background: url('../images/icon-left-01.png') center center no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.orderContainer .orderPart .title span{float:right;color:#F6AC19;}
.orderContainer .orderPart .title span:after{
  margin-left: 0.22rem;
    content: "";
    display: inline-block;
    width: 0.16rem;
    height: 100%;
    background: url('../images/icon-next.png') center center no-repeat;
    background-size: contain;vertical-align: middle;
}
.orderContainer .orderPart ul a{padding:0.7rem 0 0.36rem 0;position:relative;display:block;color:#444444;}
/* .orderContainer .orderPart ul{margin-left: 0.68rem;} */
.orderContainer .orderPart li{/* margin-right: 1.16rem; */float:left;text-align: center;width:33.33%;}
.orderContainer .orderPart li .iconWrap{position: absolute;
    left: 50%;
    top: 0.3rem;
    margin-left: -0.16rem;}
.orderContainer .orderPart li .icon{
  position:relative;
  padding-bottom: 0.18rem;
   display:inline-block;
   width:0.32rem;height:0.32rem;
   background: url('../images/icons-order.png') no-repeat;
   background-size: 2rem 0.32rem;
}
.orderContainer .orderPart li:last-child{margin-right: 0;}
/* .orderContainer .orderPart li i{  padding:2px;  position:absolute;right:-0.11rem;top:-0.11rem;
  height:0.22rem;line-height:0.22rem;width:0.22rem;border-radius: 50%;background-color:#FB001A;color:white;
  font-style: normal; text-align: center;
  font-size:10px;
} */
.orderContainer .orderPart li span.number{position: absolute;top: 0.4rem;right: 0;color:#F6AC19;}
.orderContainer .orderPart li .icon-1{background-position: 66.7% 0%;}
.orderContainer .orderPart li .icon-2{background-position: 100% 0%;}
.orderContainer .orderPart li .icon-3{background-position: 0% 0%;}
.orderContainer .orderPart li .icon-4{background-position: 33.3% 0%;}

/* 我的推荐 */
 .recommendContainer table{
    width: 100%; 
  margin-top:0.22rem;
    border-collapse:collapse;
  border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    background-color: white;
 }
.recommendContainer tr{border-bottom: 1px solid #E6E6E6;}
.recommendContainer thead td{padding:15px 0;}
.recommendContainer td{padding:12px 0;text-align: center;}
.recommendContainer td:first-child{padding-left: 0.3rem;}
.recommendContainer td:last-child{padding-right: 0.3rem;}
.recommendContainer .fixedBttToolBar{padding:0.15rem 0.3rem;}
.recommendContainer .fixedBttToolBar a{display:inline-block;width:1.76rem;height:0.7rem;line-height:0.7rem;text-align: center;border:1px solid #808080;border-radius: 4px;color:#808080;}
.recommendContainer .fixedBttToolBar a.disabled{border:1px solid #B1B1B1;color:#B1B1B1;}
.recommendContainer .fixedBttToolBar span.page{margin:0 0.78rem;}

/*被保险人*/
.insuredItemWrap .otherInsuredField .tipVal{color: #b1b1b1;}
.insuredItemWrap .otherInsuredDetail{display:none;padding:0 0.5rem 0.3rem 0.5rem;background-color:#EFEFEF; }
.insuredItemWrap .otherInsuredDetail h4{padding-top: 0.24rem;text-align: center;font-weight: normal;font-size: 15px;color:#3882FD;}
.insuredItemWrap .otherInsuredDetail span{margin:0.3rem 0 0 0;display:inline-block;width:30%}
.insuredItemWrap  .closeInsuredField{position:relative;}
.insuredItemWrap  .otherInsuredField:after{
  position: absolute;
    top: 50%;
    right: 0.3rem;
    margin-top: -0.13rem;
    content: "";
    display: inline-block;
    width: 0.16rem;
    height: 0.26rem;
    background: url('../images/icon-next.png') center center no-repeat;
    background-size: contain;
    vertical-align: middle
}
.insuredItemWrap  p.closeInsuredField:after{
    margin-top: -0.08rem;
    width: 0.26rem;
    height: 0.16rem;
    background: url('../images/icon-open.png') center center no-repeat;
    background-size: contain;
    vertical-align: middle;
}

/* 保险人订单填写 */
.insuredItemWrap .orderProductTitle, .insuredItemWrap .saveBar{padding:0 0.3rem;}
.insuredItemWrap .saveBar{height:44px;line-height: 44px;font-size: 15px;border-bottom: 1px solid #E6E6E6;}
.insuredItemWrap .saveBar input[type="checkbox"]{height:16px;width:16px;vertical-align: middle;margin-right: 0.05rem;}
.insuredItemWrap .orderProductTitle .productIcon{margin-right: 0.3rem;width:1.04rem;height:0.3rem;}
.insuredItemWrap .orderProductTitle{margin:0.2rem 0;}

   @media screen and (max-width: 321px) {
         .noLoginCenter .bannerWrap .welWord,.noLoginCenter h2,.centerWrap .navUl li,.fixedBottom a,.loginCenter .leftInfo p,.loginCenter .accountWrap .rLinks,
         .centerItemWrap .fixedBttToolBar input[type="button"],.centerItemWrap .fixedBttToolBar a.addBtn,.centerItemWrap .noAnyWrap h2,
         .usedAddrUl,.aboutBkContainer .instroDetail h2,
         .orderContainer .orderPart .title label, .insuredItemWrap .orderProductTitle{
          font-size: 15px;
         }
           .noLoginCenter .bannerWrap p,.loginCenter .accountWrap,.myCodeContainer .tip{font-size: 12px;}
           .myCodeContainer .tip{line-height: 20px;}
           .loginCenter .accountWrap em{font-size: 21px;}
           .noLoginCenter .bannerWrap .loginBtn,.noLoginCenter .bannerWrap a.register{font-size: 16px;}
          .loginCenter .leftInfo p.phone{font-size: 10px;}
         .backHeaderWrap a.rEditLink,.treasureWrap,.aboutBkContainer .instroDetail h4,
         .orderContainer .orderPart .title span, .recommendContainer table{font-size: 13px;}
         .aboutBkContainer .instroDetail h4{line-height: 20px;}
   }

    @media screen and (min-width: 321px) and (max-width:400px) {
           .noLoginCenter .bannerWrap .welWord,.noLoginCenter h2,.centerWrap .navUl li,.fixedBottom a,.loginCenter .leftInfo p,.loginCenter .accountWrap .rLinks,
         .centerItemWrap .fixedBttToolBar input[type="button"],.centerItemWrap .fixedBttToolBar a.addBtn,.centerItemWrap .noAnyWrap h2,
         .usedAddrUl,.aboutBkContainer .instroDetail h2,
         .orderContainer .orderPart .title label, .insuredItemWrap .orderProductTitle{
          font-size: 16px;
         }
           .noLoginCenter .bannerWrap p,.loginCenter .accountWrap,.myCodeContainer .tip{font-size: 13px;}
           .myCodeContainer .tip{line-height: 21px;}
           .loginCenter .accountWrap em{font-size: 22px;}
           .noLoginCenter .bannerWrap .loginBtn,.noLoginCenter .bannerWrap a.register{font-size: 17px;}
          .loginCenter .leftInfo p.phone{font-size: 11px;}
         .backHeaderWrap a.rEditLink,.treasureWrap,.aboutBkContainer .instroDetail h4,
         .orderContainer .orderPart .title span, .recommendContainer table{font-size: 14px;}
         .aboutBkContainer .instroDetail h4{line-height: 22px;}
    }

  @media screen and (min-width: 400px) {
      .noLoginCenter .bannerWrap .welWord,.noLoginCenter h2,.centerWrap .navUl li,.fixedBottom a,.loginCenter .leftInfo p,.loginCenter .accountWrap .rLinks,
         .centerItemWrap .fixedBttToolBar input[type="button"],.centerItemWrap .fixedBttToolBar a.addBtn,.centerItemWrap .noAnyWrap h2,
         .usedAddrUl,.aboutBkContainer .instroDetail h2,
         .orderContainer .orderPart .title label, .insuredItemWrap .orderProductTitle{
          font-size: 18px;
         }
           .noLoginCenter .bannerWrap p,.loginCenter .accountWrap,.myCodeContainer .tip{font-size: 15px;}
           .myCodeContainer .tip{line-height: 23px;}
           .loginCenter .accountWrap em{font-size: 24px;}
           .noLoginCenter .bannerWrap .loginBtn,.noLoginCenter .bannerWrap a.register{font-size: 19px;}
          .loginCenter .leftInfo p.phone{font-size: 13px;}
         .backHeaderWrap a.rEditLink,.treasureWrap,.aboutBkContainer .instroDetail h4,
         .orderContainer .orderPart .title span, .recommendContainer table{font-size: 16px;}
         .aboutBkContainer .instroDetail h4{line-height: 24px;}
  }

